// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@import "../../node_modules/bootstrap/scss/variables";
//@import "../../node_modules/bootstrap/scss/variables-dark";

// Variables
@import 'variables';

input:focus, textarea:focus, button:focus {
    outline-style: none !important;
    outline-width: 0px !important;
    outline-color: none !important;
    box-shadow: none !important;
}

.logo-block {
	display: inline-block;
	width: 100%;
}

@include media-breakpoint-up(sm) {
	.logo-block {
		width: 333px;
	}
}

p:last-of-type {
	margin-bottom: 0;
}

.navbar {
	background-color: $blue-600;
}

@include color-mode(dark) {
	.navbar {
		background-color: $blue-900;
	}
}

.navbar .logo {
	width: 200px;
}

.disconnect-alert {
	position: fixed !important;
	left: 10px;
	bottom: 0px;
	width: auto;
}

.grecaptcha-badge { 
	visibility: hidden;
}
