// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

input:focus, textarea:focus, button:focus {
    outline-style: none !important;
    outline-width: 0px !important;
    outline-color: none !important;
    box-shadow: none !important;
}

.logo-block {
	display: inline-block;
	width: 100%;
}

@include media-breakpoint-up(sm) {
	.logo-block {
		width: 333px;
	}
}

p:last-of-type {
	margin-bottom: 0;
}

.navbar {
	background-color: #0051a9;
}

.navbar .logo {
	width: 200px;
}

.disconnect-alert {
	position: fixed !important;
	left: 10px;
	bottom: 0px;
	width: auto;
}

.grecaptcha-badge { 
	visibility: hidden;
}
